.fa-bar-chart {
    font-size: 25px;
    padding-right: 10px;
    opacity: 0.8;
    font-weight: 500;
}

.fa {
    background: -webkit-gradient(linear, left top, left bottom, from(#87bfec), to(#1a86db));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }